.t-gray{
    margin-top: $grid-base;
    margin-bottom: $grid-base;
    text-align: center;

    &__text{
        font-size: $font-size-heading;
        color: $gray-light;
        
        &--bold{
            font-weight: bold;
        }

        &--italic{
            font-style: italic;
        }
    }
}