.c-btn{
    border: none;
    border-radius: $border-radius;
    display: inline-block;
    font-size: $font-size-5;
    font-weight: 700;
    line-height: $line-height-base;
    padding: .60rem 0;
    text-align: center;
    transition: all .25s ease-in-out;
    width: $grid-base * 22;

    &:hover{
        text-decoration: none;
    }

    &--primary{
        background: $blue-gradient;
        color: $white;
        text-transform: uppercase;
    }
    
    &--newsletter{
        background: $blue-gradient;
        color: $white;
    }
}