.c-input{
    background-color: $white;
    border: none;
    border-radius: $border-radius;
    font-size: $font-size-5;
    font-style: italic;
    line-height: $line-height-sm;
    padding: .5rem $grid-base * 10 .5rem .5rem;
    outline: none;
}