.c-nav{

    &__item{
        color: $white;
        display: inline-block;
        font-size: $font-size-5;
        padding-bottom: $grid-base * 0.75;
        padding-top: $grid-base * 0.75;
        text-align: center;
        margin-left: $grid-base * 5;
        width: auto;
        
        &:hover{
            color: $white;
        }
    }
}
