@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ebf5fc;
  color: #302F2F;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #302F2F;
  text-decoration: none;
}

a:hover {
  color: #302F2F;
  text-decoration: underline;
}

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 800px) {
  .o-col--md25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 800px) {
  .o-col--md33 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 800px) {
  .o-col--md50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg33 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg66 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666%;
            flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg75 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 800px) {
  .o-container {
    max-width: 740px;
  }
}

@media (min-width: 1200px) {
  .o-container {
    max-width: 1140px;
  }
}

.o-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 800px) {
  .o-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.o-row--center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  padding: .60rem 0;
  text-align: center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 220px;
}

.c-btn:hover {
  text-decoration: none;
}

.c-btn--primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#2b92e0), to(#1d69a3));
  background: linear-gradient(0deg, #2b92e0 0%, #1d69a3 100%);
  color: #FFFFFF;
  text-transform: uppercase;
}

.c-btn--newsletter {
  background: -webkit-gradient(linear, left bottom, left top, from(#2b92e0), to(#1d69a3));
  background: linear-gradient(0deg, #2b92e0 0%, #1d69a3 100%);
  color: #FFFFFF;
}

.c-heading {
  color: #3B99E1;
  line-height: 1.2;
  margin-bottom: 5px;
}

.c-heading--level1 {
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .c-heading--level1 {
    font-size: 3rem;
  }
}

.c-heading--level2 {
  font-size: 1.125rem;
}

@media (min-width: 1200px) {
  .c-heading--level2 {
    font-size: 1.5rem;
  }
}

.c-heading--level3 {
  font-size: 1.125rem;
}

.c-heading--level4 {
  font-size: 1rem;
}

.c-heading--level5 {
  font-size: 0.875rem;
}

.c-heading--level6 {
  font-size: 2rem;
}

.c-heading--upper {
  text-transform: uppercase;
}

.c-heading--italic {
  font-style: italic;
}

.c-heading--white {
  color: #FFFFFF;
}

.c-icon-box {
  text-align: center;
}

.c-icon-box__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /** Najwyższa ikona ma taką wysokość **/
  height: 60px;
  margin-bottom: 25px;
}

.c-icon-box__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-icon-box__text {
  font-size: 0.75rem;
  margin-top: 15px;
}

.c-label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.c-list__item {
  margin-bottom: 12px;
}

.c-list--unstyled {
  list-style-type: none;
}

.c-nav__item {
  color: #FFFFFF;
  display: block;
  font-size: 0.875rem;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  text-align: center;
  width: 100%;
}

.c-nav__item:hover {
  color: white;
}

@media (min-width: 1200px) {
  .c-nav__item {
    display: inline-block;
    margin-left: 50px;
    width: auto;
  }
}

.c-input {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.2;
  padding: 0.5rem 100px 0.5rem 0.5rem;
  outline: none;
}

.t-site-header {
  background-color: #020B14;
}

.t-site-header__top {
  padding-bottom: 25px;
  padding-top: 25px;
  width: 100%;
}

.t-site-header__menu {
  margin-top: 20px;
  background-color: #000000;
}

@media (min-width: 1200px) {
  .t-site-header__menu {
    margin-top: 0;
    text-align: right;
  }
}

.t-site-header__shuttle {
  padding-bottom: 65px;
  padding-top: 65px;
  margin: 0 auto;
  text-align: left;
}

.t-site-header__texting {
  margin-left: 50px;
}

.t-site-header__paragraph {
  color: #3B99E1;
  font-size: 1rem;
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: justify;
}

.t-site-submission {
  padding-bottom: 30px;
  padding-top: 30px;
}

.t-site-submission__text {
  color: #FFFFFF;
  text-align: justify;
  line-height: 1.8;
}

.t-site-submission__window {
  text-align: center;
  position: relative;
}

.t-site-submission__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-bottom: 10px;
}

.t-site-submission__heading {
  margin-bottom: 10px;
  font-style: italic;
}

.t-site-categories {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}

.t-site-categories__heading {
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: italic;
  color: #1c384e;
  font-weight: 500;
}

.t-site-categories__paragraph {
  padding-left: 10px;
  padding-right: 10px;
  color: #1c384e;
}

.t-site-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
}

.t-site-footer__link {
  display: block;
  color: #b2c8da;
  margin-bottom: 10px;
  margin-top: 10px;
}

.t-site-footer__link:hover {
  color: #b2c8da;
}

.t-site-footer__heading {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.t-site-footer__divider {
  background: -webkit-gradient(linear, left bottom, left top, from(#244E70), to(#142533));
  background: linear-gradient(0deg, #244E70 0%, #142533 100%);
  height: 2px;
}

.t-site-footer__text {
  display: block;
  color: #b2c8da;
  margin-top: 10px;
}

.t-site-footer__newsletter {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-site-footer__button {
  padding: .4rem .4rem .35rem .4rem;
  width: 100px;
  margin-left: 5px;
}

.t-site-footer__copyright {
  color: #3B99E1;
  font-size: 0.75rem;
}

.t-gray {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.t-gray__text {
  font-size: 2rem;
  color: #5c5656;
}

.t-gray__text--bold {
  font-weight: bold;
}

.t-gray__text--italic {
  font-style: italic;
}

.u-color-blue {
  color: #3B99E1;
}

.u-background__shuttle {
  background: url("images/bg-adbox.jpg") center center no-repeat;
}

.u-background__black {
  background-color: #000000;
}

.u-background__gray {
  background-color: #302F2F;
}

.u-background__navy-light {
  background-color: #244E70;
}

.u-background__submission-window {
  background: url("images/spacecraft.jpg") 0 0 no-repeat;
}

.u-background__footer {
  background: url("images/clipart3233790.png") center right no-repeat;
  background-color: #1c384e;
}

.u-textstyle__italic {
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */