.u-background{
    &__shuttle{
        background: url('images/bg-adbox.jpg') center center no-repeat;
    }

    &__black{
        background-color: $black;
    }

    &__gray{
        background-color: $gray-dark;
    }

    &__navy-light{
        background-color: $blue-navy-light;
    }

    &__submission-window{
        background: url('images/spacecraft.jpg') 0 0 no-repeat;
    }

    &__footer{
        background: url('images/clipart3233790.png') center right no-repeat ;
        background-color: $blue-navy;
    }
}