// Kolory
$white: #FFFFFF;
$dirty-white: #B2C8DA;
$black: #000000;
$gray-dark: #302F2F;
$blue-blue-text: #3E5CC5;
$blue-navy: #1C384E;
$blue-navy-dark: #142533;
$blue-light: #EBF5FC;
$blue-text: #3B99E1;
$blue-header: #020B14;
$blue-navy-light: #244E70;
$gray-light: #5C5656;

$blue-gradient: linear-gradient(0deg, #2b92e0 0%, #1d69a3 100%);
$navy-gradient: linear-gradient(0deg, #244E70 0%, #142533 100%, );

// Tekst
$font-size-base: 1rem;
$font-size-1: $font-size-base * 3;
$font-size-2: $font-size-base * 1.5;
$font-size-3: $font-size-base * 1.125;
$font-size-4: $font-size-base * 1;
$font-size-5: $font-size-base * .875;
$font-size-6: $font-size-base * .75;
$font-size-7: $font-size-base * .625;

$font-size-heading: $font-size-base * 2;

$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;

// Siatka
$grid-base: 10px;
$gutter: $grid-base * 1.5;

// Zaokrąglenia
$border-radius: $grid-base * .5;

//Breakpoint
$bp-medium: '800px';
$bp-large: '1200px';